@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Poppins", sans-serif;
}

.textured-bg {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

table th, td, tr {
    padding: 0.5rem;
    border: 2px solid #e0e0e0;
}

table th {
    background: #F9FAFC;
}

.minHeight {
    min-height: calc(100vh - 3.5rem);
}


