@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Inter", sans-serif;
}

.textured-bg {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

table th,
td,
tr {
    padding: 0.5rem;
    border: 2px solid #e0e0e0;
    font-size: 14px;
    text-align: center;
}

table th {
    background: #F9FAFC;
}

.minHeight {
    min-height: calc(100vh);
}